<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.ws.ijk.wsqj_ijkplayer">

    <application android:allowBackup="true" android:label="@string/app_name"
        android:supportsRtl="true">

    </application>
    <service
        android:name="com.ws.ijk.wsqj_ijkplayer.widget.services.MediaPlayerService"
        android:enabled="false"
        android:exported="false"
        android:label="@string/app_name" >
    </service>
</manifest>
